<div style="width: 710px; margin: 0 auto;">
  <div class="bacon-blog-post bacon-shadow">
    <img src="http://i2.wp.com/garybacon.com/wp-content/uploads/2016/06/finding_what_challenges.png" class="wp-post-image">
    <div class="bacon-blog-post-inner">
      <h2>{{post.title}}</h2>
      <h4>{{post.description}}</h4>
    </div>
  </div>
</div>