@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #040C3E !important;
}

header {
    background: #DB8400;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid whitesmoke;
    height: 60px;
}

.spacing {
    width: 90%;
    margin: 0 auto;
}


/* header .logo img {
    width: 20%;
    color: white;
    cursor: pointer;
    padding-top: 4px;
} */

.logo {
    width: 15%;
}

header nav {
    margin-top: 5px;
    float: right;
}

header nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 12px;
}

header ul li a {
    text-decoration: none;
    padding: 5px 15px;
    color: #040C3E;
    height: 50px;
    /* margin-bottom: 20px; */
    line-height: 48px;
    text-transform: uppercase;
    /* display: block; */
}

header a:hover,
.active:hover {
    color: white;
    transition: all 0.30s ease-in-out;
    text-decoration: none;
}

.active {
    color: white;
    padding: 10px 10px !important;
    background: #040C3E;
    box-shadow: 0px 0px 44px -5px rgba(59, 59, 59, 0.97);
}

header .toggle {
    float: right;
    color: white;
    font-size: 25px;
    line-height: 50px;
    cursor: pointer;
    display: none;
}

@media (max-width:820px) {
    .active {
        color: white !important;
        background: none;
    }
    .logo {
        margin-top: 10px;
        width: 20%;
    }
    header {
        height: 50px;
        width: 100%;
    }
    header .toggle {
        display: block;
    }
    header nav {
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 40px;
        left: -100%;
        background: #040C3E;
        transition: 0.8s ease-in-out;
        cursor: pointer;
    }
    header .click {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header ul li a {
        color: white;
    }
    header ul li {
        border-bottom: 1px solid #DB8400;
    }
}


/*
.slider img {
    width: 100%;
} */

.slider img {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.form_space {
    height: 75px;
    width: 100%;
    background: #DB8400;
}

.form_space form {
    text-align: center;
    margin: 17px 0px 0px 0px;
    background: white;
}

.search input,
#date {
    border: none;
    padding: 5px 4px !important;
}

.search input,
.search2 select {
    padding: 0px;
    border-radius: 0px;
}

.submit {
    background: #040C3E;
    border: none;
    border-radius: 0px;
}

.how_work {
    background: #040C3E;
    height: 100%;
    width: 100%;
    text-align: center;
}

.how_work img {
    width: 75%;
}

.main2 {
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background: #040C3E;
    font-family: 'Poppins', sans-serif;
}


/* faux card deck with grid  */

.row {
    margin-right: -5px;
    margin-left: -5px;
}

.col-md-3 {
    padding-right: 5px;
    padding-left: 10px;
}

.card-bod {
    background: #DB8400;
}

.img-fluid {
    position: relative;
    border-radius: 0px 0px 50px 50px;
}


/* .img_zone {
    position: relative;
} */

.price_tag {
    background: #db8300ec;
    position: absolute;
    z-index: 3;
    font-size: 10px;
    top: 10px;
    padding: 0px 9px 9px 0px;
    margin: 0px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

.price_tag h3 {
    margin-top: 10px;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 0px;
}

.card-body {
    font-family: 'Poppins', sans-serif !important;
}

.card-bod:hover {
    transition: all 0.5s ease-in-out;
    transform: translateY(-4%);
    box-shadow: 0px 28px 10px rgba(0, 0, 0, 0.25);
    /* cursor: pointer; */
}

.card-body button,
.card-body a {
    background: #040C3E !important;
    border: none !important;
}

.more {
    /* background: #db8300ec; */
    width: 100%;
    text-align: center;
    margin: 30px 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #DB8400;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #040C3E;
}

.single-cta i {
    color: #040C3E;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #fff;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #040C3E;
}

.footer-widget ul li {
    display: inline-block;
    float: left !important;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #fff;
}

.footer-widget ul li a {
    color: #040C3E;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #fff;
    border: 1px solid #fff;
    color: #040C3E;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #040C3E;
    padding: 13px 20px;
    border: 1px solid #DB8400;
    top: 17px;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #040C3E;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.copyright-text p a {
    color: #fff;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #DB8400;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.more a {
    height: 2vh;
    color: white;
    width: 100%;
    font-size: 15px !important;
    padding: 8px 70px 8px 70px;
    text-decoration: none;
    background: #db8300ec;
    text-align: center;
    box-shadow: 0px 17px 8px rgba(0, 0, 0, 0.57);
}

.posZone form {
    width: 80% !important;
    margin: 10px auto;
    padding: 10px 20px;
    background: #DB8400;
    border-radius: 8px;
}

.posZone h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

.posZone input[type="text"],
.posZone input[type="password"],
.posZone input[type="date"],
.posZone input[type="datetime"],
.posZone input[type="email"],
.posZone input[type="number"],
.posZone input[type="search"],
.posZone input[type="tel"],
.posZone input[type="time"],
.posZone input[type="url"],
.posZone textarea,
.posZone select {
    background: #ffffff;
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.posZone input[type="radio"],
.posZone input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

.posZone select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

.posZone button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #DB8400;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #040C3E;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

.posZone fieldset {
    margin-bottom: 30px;
    border: none;
}

.posZone legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.posZone label {
    display: block;
    margin-bottom: 8px;
}

.posZone label.light {
    font-weight: 300;
    display: inline;
}

.posZone .number {
    background-color: #040C3E;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {
    .posZone form {
        max-width: 480px;
    }
}

.card-title {
    margin: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.bacon-blog-post {
    position: relative;
    width: 100%;
    background: #fff;
    font-weight: 400;
    line-height: 1.45;
}

.bacon-blog-post-inner {
    padding: 42px;
}

.bacon-blog-post .wp-post-image {
    width: 100%;
    height: auto;
}

.bacon-blog-post h1,
.bacon-blog-post h2,
.bacon-blog-post h3,
.bacon-blog-post h4 {
    margin: 1.414em 0 0.5em;
    font-weight: 700;
    line-height: 1.2;
    font-family: Open Sans, sans-serif;
}

.bacon-blog-post h1 a,
.bacon-blog-post h2 a,
.bacon-blog-post h3 a,
.bacon-blog-post h4 a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.bacon-blog-post h1 {
    margin-top: 0;
    font-size: 3.157em;
}

.bacon-blog-post h2 {
    margin-top: 0;
    font-size: 2.369em;
}

.bacon-blog-post h3 {
    font-size: 1.777em;
}

.bacon-blog-post h4 {
    font-size: 1.333em;
}

.bacon-blog-post small,
.bacon-blog-post .font_small {
    font-size: 0.75em;
}

.bacon-blog-post p,
.bacon-blog-post p a {
    font-family: Lora, Times New Roman, serif;
    font-size: 20px;
    line-height: 28px;
}

.bacon-blog-post p {
    margin-bottom: 1.3em;
}

.bacon-blog-post p:last-child {
    margin-bottom: 0;
}

.bacon-blog-post p a {
    color: #B21A13;
}

.bacon-blog-post blockquote {
    margin: 1.3em;
    padding-left: 1.3em;
    border-left: rgb(224, 40, 43) solid 0.25em;
    font-style: italic;
}

.bacon-shadow:after {
    position: absolute;
    content: "";
    left: 20px;
    right: 20px;
    bottom: 0px;
    z-index: -1;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.60);
}